<template>
  <tr>
    <td>{{ item.numero_chamado }}</td>
    <td>{{ item.id_paciente }}</td>
    <td>{{ item.nome_paciente }}</td>
    <td>{{ item.descricao_motivo }}</td>
    <td style="width: 28.5%">{{ item.descricao }}</td>
    <td>{{ dataFormatada }}</td>
    <td>{{ item.status }}</td>
    <td><a href="#" @click.prevent="editar">EDITAR</a> / <a href="#" @click.prevent="detalhes">DETALHES</a>
    </td>
  </tr>
</template>

<script>
import api from '../services/api'

export default {
  name: 'Chamado',
  props: ['item'],
  methods: {
    editar() {
      this.$emit('editar', {
        type: 'atualiza',
        item: this.item,
      })
    },
    async detalhes() {
      const response = await api.get(`chamado/${this.item.id}`)
      const chamado = response.data

      this.$emit('detalhes', chamado)
    },
  },
  computed: {
    dataFormatada () {
      const data = this.item.data_criacao

      const dia = data.slice(8, 10)
      const mes = data.slice(5, 7)
      const ano = data.slice(0, 4)

      return `${dia}/${mes}/${ano}`
    }
  }
}
</script>

<style lang="scss" scoped>
tr {
  background-color: #fff !important;

  &:hover {
    background-color: #f5f5f5 !important;
  }
}
</style>
