<template>
  <transition v-if="chamadoExiste" name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <slot name="header">
            Detalhes do chamado

            <button
              type="button"
              class="btn-close"
              @click="close"
              aria-label="Close modal"
            >
              x
            </button>
          </slot>
        </header>
        <section class="modal-body">
          <slot name="body">

            <fieldset>
              <legend>
                <span class="detail-legend">Chamado</span>
              </legend>

              <div class="detail-group">
                <label>Número do chamado:</label>
                <span>{{ item.numero_chamado }}</span>
              </div>

              <div class="detail-group">
                <label>Motivo:</label>
                <span>{{ item.motivo.descricao }}</span>
              </div>

              <div class="detail-group">
                <label>Descrição:</label>
                <span>{{ item.descricao }}</span>
              </div>

              <div class="detail-group">
                <label>Status:</label>
                <span>{{ item.status }}</span>
              </div>
            </fieldset>

            <fieldset>
              <legend>
                <span class="detail-legend">Paciente</span>
              </legend>

              <div class="detail-group">
                <label>Nome:</label>
                <span>{{ item.paciente.nome }}</span>
              </div>

              <div class="detail-group">
                <label>CPF:</label>
                <span>{{ cpfFormatado }} </span>
              </div>

              <div class="detail-group">
                <label>Data de nascimento:</label>
                <span>{{ dataFormatada }}</span>
              </div>

              <div class="detail-group">
                <label>Sexo:</label>
                <span>{{ item.paciente.sexo }}</span>
              </div>

              <div class="detail-group">
                <label>Telefone:</label>
                <span>{{ telefoneFormatado }}</span>
              </div>

              <div class="detail-group">
                <label>Plano:</label>
                <span v-if="item.paciente.plano">{{ item.paciente.plano.descricao }}</span>
                <span v-else class="no-plan">Sem plano</span>
              </div>
            </fieldset>
          </slot>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ModalDetalhado',
  props: ['item'],
  methods: {
    close() {
      this.$emit('close')
    },
  },
  computed: {
    chamadoExiste() {
      return Object.keys(this.item).length !== 0 && this.item.constructor === Object
    },
    cpfFormatado() {
      const cpf = this.item.paciente.cpf

      return cpf.slice(0, 3) + '.' + cpf.slice(3, 6) + '.' + cpf.slice(6, 9) + '-' + cpf.slice(9, 11)
    },
    dataFormatada () {
      const data = this.item.paciente.data_nascimento

      const dia = data.slice(8, 10)
      const mes = data.slice(5, 7)
      const ano = data.slice(0, 4)

      return `${dia}/${mes}/${ano}`
    },
    telefoneFormatado() {
      const tel = this.item.paciente.telefone

      return '(' + tel.slice(0, 2) + ') ' + tel.slice(2, 7) + '-' + tel.slice(7, 11)
    },
  },
}
</script>

<style lang="scss" scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 60%;
    border-radius: 4px;
    left: auto;
    top: auto;

    @media (max-height: 850px) {
      max-height: 80%;
    }
  }

  .modal-header {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #1E88E5;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  .modal-body {
    margin-top: 10px;
    position: relative;
    padding: 0 30px 0px;
    display: flex;
    flex-direction: column;

    fieldset {
      .detail-legend {
        color: #1E88E5;
        font-size: 18px;
      }

      .detail-group {
        label {
          font-weight: bold;
          margin-right: 7px;
        }

        .no-plan{
          font-style: italic;
        }
      }
    }
  }

  .btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #1E88E5;
    background: transparent;
    outline: none;

    &:hover {
      color: #1E88E5;
    }
  }
</style>
