<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <slot name="header">
            <span v-if="tipoComputado === 'cria'">Novo chamado</span>
            <span v-else>Editar chamado</span>

            <button
              type="button"
              class="btn-close"
              @click="close"
            >
              x
            </button>
          </slot>
        </header>
        <section class="modal-body">
          <slot name="body">

            <fieldset>
              <label>Paciente</label>
              <div class="form-group">
                <select v-model="chamadoComputado.id_paciente" class="form-control" required>
                  <option disabled value="">Selecione uma opção</option>
                  <option v-for="(item, index) in pacientes" :key="index" :value="item.id">{{ item.nome }}</option>
                </select>
              </div>
              <label>Motivo</label>
              <div class="form-group">
                <select v-model="chamadoComputado.id_motivo" class="form-control" required>
                  <option disabled value="">Selecione uma opção</option>
                  <option v-for="(item, index) in motivos" :key="index" :value="item.id_motivo">{{ item.descricao }}</option>
                </select>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-12">
                  <label>Status</label>
                  <input v-model="chamadoComputado.status" type="text" class="form-control" placeholder="Status" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-12">
                  <label>Descrição</label>
                  <textarea v-model="chamadoComputado.descricao" class="form-control" rows="3" placeholder="Descricao" required></textarea>
                </div>
              </div>
            </fieldset>
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">

            <button
              type="button"
              class="btn btn-default"
              @click="salvaChamado"
              aria-label="Close modal"
            >
              Salvar
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
import api from '../services/api'

export default {
  name: 'Modal',
  props: ['item', 'type'],
  data() {
    return {
      pacientes: [],
      motivos: [],
      loading: false,
    }
  },
  methods: {
    async obtemPacientes() {
      const response = await api.get('paciente')
      this.pacientes = response.data
    },
    async obtemMotivos() {
      const response = await api.get('motivo')
      this.motivos = response.data
    },
    async salvaChamado() {
      this.loading = true
      try {
        const chamado = {
          id_paciente: this.chamadoComputado.id_paciente,
          id_motivo: this.chamadoComputado.id_motivo,
          status: this.chamadoComputado.status,
          descricao: this.chamadoComputado.descricao,
        }

        let response = {}

        if (this.tipoComputado === 'cria') {
          response = await api.post('chamado', chamado)
        } else {
          response = await api.put(`chamado/${this.chamadoComputado.id}`, chamado)
        }

        this.loading = false
        this.save(response.data)
      } catch (error) {
        this.loading = false
        console.log(error)
      }
    },
    limpaCampos() {
      this.chamado = {
        id_paciente: Number,
        id_motivo: Number,
        status: '',
        descricao: '',
      }
    },
    close() {
      this.limpaCampos()
      this.$emit('close')
    },
    save(chamado) {
      this.limpaCampos()
      this.$emit('save', chamado)
    },
  },
  async created() {
    this.obtemPacientes()
    this.obtemMotivos()
  },
  computed: {
    chamadoExiste() {
      return Object.keys(this.item).length !== 0 && this.item.constructor === Object
    },
    chamadoComputado() {
      let chamado = {}
      if (this.chamadoExiste) {
        chamado = {
          ...this.item
        }
      }
      return chamado
    },
    tipoComputado() {
      let tipo = ''
      tipo = this.type

      return tipo
    },
  }
}
</script>

<style lang="scss" scoped>
  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #fff;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 60%;
    border-radius: 4px;
    left: auto;
    top: auto;

    @media (max-height: 850px) {
      max-height: 80%;
    }
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;

    span {
      color: #1E88E5;
      font-size: 20px;
    }
  }

  .modal-footer {
    border-top: 1px solid #eee;
    justify-content: flex-end;
  }

  .modal-body {
    margin-top: 15px;
    position: relative;
    padding: 0 30px 0px;
    display: flex;
    flex-direction: column;
  }

  .btn.btn-default {
    background: #1E88E5;
    color: #fff;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #1E88E5;
    background: transparent;
    outline: none;

    &:hover {
      color: #1E88E5;
    }
  }
</style>
