<template>
  <ul class="pagination">
    <li class="paginate_button page-item previous" :class="{'disabled': atual <= 1}">
      <a href="#" @click.prevent="irPara(1)" class="page-link">&laquo;</a>
    </li>
    <li class="paginate_button page-item previous" :class="{'disabled': atual <= 1}">
      <a href="#" @click.prevent="irPara(atual - 1)" class="page-link">&lsaquo;</a>
    </li>
    <li class="paginate_button page-item" :key="pagina" v-for="(pagina) in paginas" :class="{ 'active': atual === pagina }">
      <a href="#" @click.prevent="irPara(pagina)" class="page-link">
        {{ pagina }}
      </a>
    </li>
    <li class="paginate_button page-item next" :class="{'disabled': atual >= totalPaginas}">
      <a href="#" @click.prevent="irPara(atual + 1) && increment()" class="page-link">&rsaquo;</a>
    </li>
    <li class="paginate_button page-item previous" :class="{'disabled': atual >= totalPaginas}">
      <a href="#" @click.prevent="irPara(totalPaginas)" class="page-link">&raquo;</a>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Paginacao',
  props: {
    atual: Number,
    totalBotoesVisiveis: Number,
    totalPaginas: Number,
    irPara: Function
  },
  computed: {
    paginas () {
      const paginasIniciais = Array.from({ length: this.totalBotoesVisiveis }, (value, index) => index + 1)
      if (this.atual > this.totalPaginas || this.atual < 1) {
        return this.totalBotoesVisiveis > this.totalPaginas ? paginasIniciais[this.totalPaginas - 1] : paginasIniciais
      }
      return (this.atual > parseInt(this.totalBotoesVisiveis / 2) ? paginasIniciais
        .map(i => {
          if (this.atual + parseInt(this.totalBotoesVisiveis / 2) >= this.totalPaginas) {
            return this.totalPaginas - paginasIniciais.length + i
          } else {
            return i + this.atual - parseInt(this.totalBotoesVisiveis / 2)
          }
        }) : paginasIniciais)
        .filter(i => i <= this.totalPaginas)
        .slice(0, this.totalPaginas)
    }
  },
  watch: {
    atual (atual) {
      this.$router.push({ query: { pagina: atual } })
        .catch(() => {})
    }
  }
}
</script>

<style scoped>

</style>
