<template>
  <div id="page">
    <header class="page-header">
      <a href="#">
        <strong>Mobile Saúde</strong>
         :: Ordem de Serviço
        </a>
    </header>

    <div class="page-content">
      <div class="col-sm-3 col-md-2 left-bar">
        <ul>
          <li>
            <a href="#">Chamados</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10 main">
        <div class="content-header">
          <div class="header-row">
            <h1>Chamados</h1>
            <button class="btn btn-default default-button" type="button" @click.prevent="toggleModal">Novo chamado</button>
            <button class="btn btn-default small-button" type="button" @click.prevent="toggleModal">+</button>
          </div>
          <Modal v-show="modalVisivel" @close="fechaModal" @save="atualizaChamados" :item="chamadoSelecionado" :type="modalType"/>
          <ModalDetalhado v-show="modalDetalhadoVisivel" @close="toggleFullTicketModal" :item="chamadoDetalhado" />
        </div>

        <div class="col-xs-12 offset-md-4 col-md-4 search">
          <div class="input-group search-group">
            <input type="text" class="form-control" placeholder="Pesquise por um chamado..." v-model="busca">
            <button @click.prevent="obtemChamados" class="btn btn-default" type="button">
              Pesquisar
            </button>
          </div>
        </div>

        <div class="table-responsive table-area">
          <table v-if="chamados.length > 0" class="table table-striped table-hover">
            <thead>
              <th>Número chamado</th>
              <th>ID paciente</th>
              <th>Nome paciente</th>
              <th>Motivo</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Status</th>
              <th>Ações</th>
            </thead>
            <tbody>
              <Chamado v-for="item in chamados" :key="item.id" :item="item" @editar="editarChamado" @detalhes="detalhesChamado"/>
            </tbody>
          </table>
          <div v-else class="no-tickets">
            <span class="no-tickets-placeholder">Nenhum chamado encontrado</span>
          </div>
        </div>

        <Paginacao :atual="paginaAtual" :totalBotoesVisiveis="totalBotoesVisiveis" :totalPaginas="totalPaginas" :irPara="irPara" class="pagination" />
      </div>
    </div>

  </div>
</template>

<script>
import api from '../services/api'
import Chamado from '../components/Chamado'
import Modal from '../components/Modal'
import ModalDetalhado from '../components/ModalDetalhado'
import Paginacao from '../components/Paginacao'

export default {
  name: 'Chamados',
  components: { Chamado, ModalDetalhado, Modal, Paginacao },
  data() {
    return {
      busca: '',
      chamados: [],
      motivos: [],
      modalVisivel: false,
      modalDetalhadoVisivel: false,
      paginaAtual: 1,
      totalBotoesVisiveis: 6,
      totalPaginas: 0,
      chamadoSelecionado: {},
      modalType: 'cria',
      chamadoDetalhado: {},
    }
  },
  methods: {
    async obtemMotivos() {
      const response = await api.get('motivo')
      this.motivos = response.data
    },
    async obtemChamados() {
      const response = await api.get('chamado', { params: { pagina: this.paginaAtual, busca: this.busca } })
      this.totalPaginas = Math.ceil(response.data.total / 10)
      this.chamados = response.data.chamados
      this.chamados.map(chamado => chamado.descricao_motivo = this.motivos[chamado.id_motivo - 1].descricao)
    },
    toggleModal() {
      this.modalVisivel = !this.modalVisivel;
    },
    toggleFullTicketModal() {
      this.modalDetalhadoVisivel = !this.modalDetalhadoVisivel;
    },
    fechaModal() {
      this.chamadoSelecionado = {}
      this.modalType = 'cria'
      this.toggleModal()
    },
    async atualizaChamados(chamado) {
      if (this.modalType === 'cria') {
        this.chamados.push(chamado)
      } else {
        this.chamados = this.chamados.map(c => {
          return c.id === chamado.id ? chamado : c
        })
      }

      this.fechaModal()
    },
    editarChamado(info) {
      this.chamadoSelecionado = info.item
      this.modalType = info.type
      this.toggleModal()
    },
    detalhesChamado(chamado) {
      this.chamadoDetalhado = chamado
      this.toggleFullTicketModal()
    },
    irPara(pagina) {
      this.paginaAtual = pagina
    }
  },
  async created() {
    this.paginaAtual = this.$route.query.pagina ? parseInt(this.$route.query.pagina) : 1
    this.obtemMotivos()
    this.obtemChamados()
  },
  watch: {
    $route (to, from) {
      if (to.query.pagina && to.query.pagina !== from.query.pagina) {
        this.paginaAtual = parseInt(to.query.pagina)
        this.obtemChamados()
      } else {
        this.paginaAtual = 1
        this.obtemChamados()
      }
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  color: #466478;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  height: 50px;
  padding: 0 15px;
  background-color: #1E88E5;
  display: flex;
  align-items: center;

  a {
    font-size: 18px;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    strong {
      color: #fff;
      font-size: 18px;
    }
  }

  @media (max-width: 175px) {
    a, strong {
      font-size: 14px !important;
    }
  }
}

.page-content {
  display: flex;
}

.left-bar {
  min-height: calc(100vh - 50px);
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  padding: 0 !important;

  ul {
    margin-top: 20px;

    li {
      cursor: pointer;
      padding: 10px 20px;
      background-color: #56C2D6;

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.content-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 36px;

      @media (max-width: 350px) {
        font-size: 28px;
      }
    }

    button {
      background-color: #1e88e5;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .default-button {
      @media (max-width: 350px) {
        display: none;
      }
    }

    .small-button {
      @media (min-width: 350px) {
        display: none;
      }
    }
  }
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;

  .search {
    max-height: 63.5px;
    padding: 10px 0 20px;
    display: flex;
    justify-items: center;
    .search-group {
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #1e88e5;
        color: #fff;
      }
    }
  }

  .table-area {
    min-height: 423px;
    margin-bottom: 15px;
    .table {
      margin-bottom: 20px;

      td {
        padding: 8px;
        line-height: 1.4;
      }

      @media (max-width: 767px) {
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    .no-tickets {
      display: flex;
      justify-content: center;

      .no-tickets-placeholder {
        margin: 200px 0;
      }
    }
  }

  .pagination {
    align-self: center;
  }

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

</style>
